<main class="salaxy-content sxytpl-workers-taxcardslist">
  <p class="lead">
    <strong>Customized page</strong>
    This is an example of custom page.
  </p>
  <section>
    <salaxy-tax-cards-list></salaxy-tax-cards-list>
  </section>
</main>